<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="css/style.css">
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="mx-5"> 
    <h1 class='mx-5'>Welcome to Registration from</h1>
    <p class='mx-5 px-5'> Please navigate yourself to Registration Form</p>
    </div>
</body>
</html>