<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    {{>navbar}}
    <title>Register</title>
</head>

<body>
    <h1>Registration Form</h1>
    <form action='/register' method='POST'>
        <div class='row register-form mx-5 py-3'>
            <div class='col-md-4'>
                <div class="form-group">
                    <input type="text" class="form-control" value='' name='firstname' placeholder="First Name">
                </div>
                &nbsp;
                <div class="form-group">
                    <input type="email" class="form-control" value='' name='email' aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value='' name='phone' aria-describedby="emailHelp"
                        placeholder="Enter Phone">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" value='' name='password' placeholder="Password">
                </div>

            </div>
            <div class='col-md-4'>
                <div class="form-group">
                    <input type="text" class="form-control" value='' name='lastname' aria-describedby="emailHelp"
                        placeholder="Last Name">
                </div>
                <div class="form-group">
                    <div>
                        <label class="radio inline">
                            <input type='radio' name='gender' value='Male' checked>
                            <span>Male</span>
                        </label>
                        <label class="radio inline">
                            <input type='radio' name='gender' value='Female'>
                            <span>Female</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value='' name='age' aria-describedby="emailHelp"
                        placeholder="Enter Age">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" value='' name='confirmpassword'
                        placeholder="Confirm Password">
                </div>&nbsp;
            </div> &nbsp;
            <button type="submit" class="btn btn-secondary mr-10" value='Register'>Submit</button>
        </div>
    </form>
</body>

</html>